<div class="blog-container container mt-4 mb-4">
    <div *ngIf="blogPosts.length === 0" class="alert alert-info text-center">
        No Blog Posts Available.
    </div>
    <div *ngIf="successMessageEdit" class="alert alert-success" role="alert">
        Blog post successfully edited!
    </div>

    <div *ngIf="successMessageDelete" class="alert alert-success" role="alert">
        Blog post successfully deleted!
    </div>

    <div *ngFor="let post of blogPosts" class="card mb-4 shadow-sm">
        <div class="card-header d-flex justify-content-between align-items-center">
            <span>Posted by: <strong>{{ post.name }}</strong></span>
            <span>
                <div class="dropdown post-options">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false"> More
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end shadow">
                        <li>
                            <span class="dropdown-item text-warning d-flex align-items-center cursor-pointer"
                                (click)="editPost(post)">
                                <img src="assets/edit.png" alt="img" class="like-icon" /> Edit
                            </span>
                        </li>
                        <li>
                            <span class="dropdown-item text-danger d-flex align-items-center cursor-pointer"
                                (click)="deletePost(post.postsid)">
                                <img src="assets/delete.jpg" alt="img" class="like-icon">Delete
                            </span>
                        </li>
                    </ul>
                </div>
            </span>
        </div>

        <div *ngIf="post.editing" class="card-body">
            <div class="d-flex justify-content-between">
                <textarea [(ngModel)]="post.editDescription" class="form-control mb-3 me-3" rows="3"
                    placeholder="Edit description"></textarea>
                    <label for="image">
                        <img src="assets/edit-image.png"  style="width: 90px; height: 90px; cursor: pointer;"/>
                    </label>
                <input type="file" id="image" class="form-control mb-3" (change)="editImage($event, post)"
                    style="display: none;" />
            </div>
            <div>
                <img *ngIf="post.editImage" [src]="post.editImage" alt="Preview Image" class="image-preview mb-3" />
            </div>
            <button (click)="saveEditPost(post)" class="btn btn-primary me-2">Save</button>
            <button (click)="post.editing = false" class="btn btn-secondary">Cancel</button>
        </div>

        <div *ngIf="!post.editing" class="card-body">
            <p [innerHTML]="post.description" class="mb-3"></p>
            <div>
                <img *ngIf="post.image" [src]="post.image" alt="image" class="image mb-3 " />
            </div>
        </div>
        <div class="card-footer align-items-center">
            <div *ngIf="successMessageLike" class="alert alert-success" role="alert" style="width: 15%;">
                Blog post like Once!
            </div>
            <div class="mb-3">
                Like <span class="fw-bold">{{ post.likes }}</span>
            </div>
            <div>
                <img src="assets/like.png" alt="likes" class="like-icon mb-3" (click)="likePost(post.postsid)" />
                <img src="assets/comments.png" alt="comments" class="like-icon mb-3"
                    (click)="toggleCommentInput(post)" />
            </div>
            <div *ngIf="post.showCommentInput" class="comments-section p-3">
                <div class="comment-input mb-3 d-flex align-items-center">
                    <input [(ngModel)]="post.commentInput" class="form-control me-2" placeholder="Write a comment..." />
                    <button (click)="commentPost(post.postsid)" class="btn btn-outline-primary">Submit</button>
                </div>

                <div *ngFor="let comment of post.comment" class="mb-3">
                    <div class="comment d-flex justify-content-between">
                        <div>
                            <div class="d-flex align-items-baseline">
                                <img src="/assets/favicon.ico" alt="img" class="user-name_image me-2">
                                <span style="color:  #0d6efd;;"><strong>{{ comment.username }}</strong></span>
                            </div>
                            <span>{{ comment.comment }}</span>
                        </div>
                        <div *ngIf="comment.userId == logindata.userid" class="d-flex cursor-pointer">
                            <img src="assets/edit.png" alt="img" class="like-icon" *ngIf="!comment.editing"
                              (click)="editComment(comment)" />
                            <img src="assets/delete.jpg" alt="img" class="like-icon" *ngIf="!comment.editing"
                                (click)="deleteComment(post.postsid, comment.commentId)">
                        </div>
                    </div>

                    <div *ngIf="comment.editing" class="mt-2">
                        <input [(ngModel)]="comment.editText" class="form-control mb-2"
                            aria-label="Edit your comment" />
                        <button class="btn btn-primary btn-sm me-2"
                            (click)="saveEditComment(post.postsid, comment)">Save</button>
                        <button class="btn btn-secondary btn-sm" (click)="comment.editing = false">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>