<div class="blog-container">
  <div *ngIf="blogPosts.length === 0" class="no-posts">
    No blog posts available.
  </div>
  <div *ngFor="let post of blogPosts" class="post">
    <div class="post-header">
      <p class="post-author">{{ post.name }}</p>
      <p class="post-date">{{ post.created_at | date: 'mediumDate' }}</p>
    </div>
    <h2 class="post-title">{{ post.title }}</h2>
    <p class="post-description">{{ post.description }}</p>
    <img *ngIf="post.image" [src]="post.image" alt="Blog image" class="post-image" />
    <div class="post-actions">
      <button class="btn btn-success mt-4 cursor-pointer mr-2" (click)="likePost(post.postsid)">Like</button>
      <button class="btn btn-success mt-4 cursor-pointer" (click)="commentPost(post.postsid)">Comment</button>
    </div>
    <div *ngIf="isLoggedIn && post.likes > 0" class="post-likes">
      Likes: {{ post.likes }}
    </div>
    <div *ngIf="isLoggedIn && post.comment.length > 0" class="post-comments">
      Comments:
      <ul>
        <li *ngFor="let comment of post.comment">{{ comment }}</li>
      </ul>
    </div>
  </div>
</div>