.blog-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
}

.no-posts {
  text-align: center;
  color: #888;
  font-size: 1.25rem;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-bottom: 2rem;
}

.post-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.post-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  color: #333;
}

p {
  font-size: 1rem;
  color: #555;
}

.post-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  color: #777;
  margin: 0.5rem 0 1rem;
}

.post-interactions {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.comments-section {
  background-color: #f1f1f1;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.comment {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.like-count {
  font-weight: bold;
}

.user-name_image{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}
.like-icon {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.like-icon:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
}
