<div class="blog-container">
  <div *ngIf="blogPosts.length === 0" class="no-posts">
    No Blog Posts Available.
  </div>

  <div *ngFor="let post of blogPosts" class="post-card">
    <div class="post-info">
      <span>Posted by: {{ post.name }}</span>
      <span>Created at: {{ post.created_at | date }}</span>
    </div>
    <p [innerHTML]="post.description"></p>
    <div class="post-image">
      <img [src]="post.image" alt="Post image" />
    </div>
    <div *ngIf="successMessageLike" class="alert alert-success" role="alert" style="width: 15%;">
      Blog post like Once!
    </div>
    <div class="mb-3">
      <span class="fw-bold"> Likes {{ post.likes }}</span>
      <span class="fw-bold"> Comments {{ post.comment.length || 0 }}</span>
    </div>
    <div>
      <img src="assets/like.png" alt="likes" class="like-icon mb-3" (click)="likePost(post.postsid)" />
      <img src="assets/comments.png" alt="comments" class="like-icon mb-3" (click)="toggleCommentInput(post)" />
      <div *ngIf="post.showCommentInput" class="comments-section p-3">
        <div class="comment-input mb-3 d-flex align-items-center">
          <input [(ngModel)]="post.commentInput" class="form-control me-2" placeholder="Write a comment..." />
          <button (click)="commentPost(post.postsid)" class="btn btn-outline-primary">Submit</button>
        </div>

        <div *ngFor="let comment of post.comment" class="mb-3">
          <div class="comment d-flex justify-content-between">
            <div>
              <div class="d-flex align-items-baseline">
                <img src="/assets/favicon.ico" alt="img" class="user-name_image me-2">
                <span style="color:  #0d6efd;;"><strong>{{ comment.username }}</strong></span>
              </div>
              <span>{{ comment.comment }}</span>
            </div>
            <div *ngIf="comment.userId == logindata.userid && isLoggedIn" class="d-flex cursor-pointer">
              <img src="assets/edit.png" class="like-icon me-2" *ngIf="!comment.editing"
                (click)="editComment(comment)" />
              <img src="assets/delete.jpg" class="like-icon" *ngIf="!comment.editing"
                (click)="deleteComment(post.postsid, comment.commentId)" />
            </div>
          </div>
          <div *ngIf="comment.editing" class="mt-2">
            <input [(ngModel)]="comment.editText" class="form-control mb-2" aria-label="Edit your comment" />
            <button class="btn btn-primary btn-sm me-2" (click)="saveEditComment(post.postsid, comment)">Save</button>
            <button class="btn btn-secondary btn-sm " (click)="comment.editing = false">Cancel</button>
          </div>

          <div class="replies ms-4">
            <div *ngFor="let reply of comment.replies" class="reply mt-2">
              <div>
                <div style="color: #6c757d;" class="d-flex justify-content-between">
                  <span>
                    <img src="/assets/favicon.ico" alt="img" class="user-name_image me-2" />
                    <strong>{{ reply.username }}</strong>
                  </span>
                  <span>
                    <img src="assets/edit.png" class="like-icon me-2" *ngIf="reply.userId === logindata.userid"
                      (click)="editReply(comment, reply)" />
                    <img src="assets/delete.jpg" class="like-icon" *ngIf="reply.userId === logindata.userid"
                      (click)="deleteReply(post.postsid, comment, reply.replyId)" />
                  </span>
                </div>
                <span>{{ reply.comment }}</span>
                <div *ngIf="reply.editing">
                  <input [(ngModel)]="reply.editText" class="form-control" />
                  <button class="btn btn-sm btn-primary mt-3 mb-3"
                    (click)="saveEditReply(post.postsid, comment, reply)">Save</button>
                  <button class="btn btn-sm btn-secondary mt-3 mb-3 ms-3"
                    (click)="cancelEditReply(reply)">cancel</button>

                </div>
              </div>
            </div>
          </div>
          <div *ngIf="comment.showReplyInput" class="reply-input mt-2 ms-4">
            <input [(ngModel)]="comment.replyInput" class="form-control mb-2" placeholder="Write a reply..." />
            <button class="btn btn-primary btn-sm" (click)="replyToComment(post.postsid, comment)">submit</button>
          </div>
          <button class="btn btn-secondary btn-sm ms-4 mt-3" (click)="toggleReplyInput(comment)">Reply</button>
        </div>
      </div>
    </div>
  </div>
</div>