.navbar {
  background-color: #ffffff;
  padding: 1rem 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-link {
  margin-right: 15px;
  cursor: pointer;
}

.profile-img {
  width: 30px;
  height: 30px;
  border: 2px solid #1374e4;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-img:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}