<div class="fullForm mt-4">
  <div class="form-container">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" (keydown.enter)="onSubmit()" class="needs-validation">
      <p class="form-title">Create an account</p>

      <div class="form-group">
        <input type="text" id="Name" formControlName="name" class="form-control" placeholder="Name" />
        <div *ngIf="signUpForm.get('name')?.errors && signUpForm.get('name')?.touched">
          <span class="text-danger">{{ signUpForm.get('name')?.errors?.['required'] ? 'Name is required.' : '' }}</span>
          <span class="text-danger">{{ signUpForm.get('name')?.errors?.['minlength'] ? 'Minimum length is 3 characters.' : '' }}</span>
          <span class="text-danger">{{ signUpForm.get('name')?.errors?.['maxlength'] ? 'Maximum length is 20 characters.' : '' }}</span>
        </div>
      </div>

      <div class="form-group">
        <input type="email" id="mail" formControlName="email" class="form-control" placeholder="Email" />
        <div *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched">
          <span class="text-danger">{{ signUpForm.get('email')?.errors?.['required'] ? 'Email is required.' : '' }}</span>
          <span class="text-danger">{{ signUpForm.get('email')?.errors?.['email'] ? 'Invalid email format.' : '' }}</span>
          <span class="text-danger">{{ signUpForm.get('email')?.errors?.['minlength'] ? 'Minimum length is 10 characters.' : '' }}</span>
          <span class="text-danger">{{ signUpForm.get('email')?.errors?.['maxlength'] ? 'Maximum length is 35 characters.' : '' }}</span>
        </div>
      </div>

      <div class="form-group">
        <input type="tel" id="phone" formControlName="phone" class="form-control" placeholder="Phone" />
        <div *ngIf="signUpForm.get('phone')?.invalid && signUpForm.get('phone')?.touched" class="text-danger">
          <span class="text-danger">{{ signUpForm.get('phone')?.errors?.['required'] ? 'Phone No is required.' : '' }}</span>
          <span class="text-danger">{{ signUpForm.get('phone')?.errors?.['minlength'] ? 'Minimum length is 10 digits.' : '' }}</span>
          <span class="text-danger">{{ signUpForm.get('phone')?.errors?.['maxlength'] ? 'Maximum length is 14 digits.' : '' }}</span>
        </div>
      </div>

      <div class="form-group">
        <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password" />
        <div *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched" class="text-danger">
          <span class="text-danger">{{ signUpForm.get('password')?.errors?.['required'] ? 'Password is required.' : '' }}</span>
          <span class="text-danger">{{ signUpForm.get('password')?.errors?.['minlength'] ? 'Minimum length is 8 characters.' : '' }}</span>
          <span class="text-danger">{{ signUpForm.get('password')?.errors?.['maxlength'] ? 'Maximum length is 20 characters.' : '' }}</span>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="signUpForm.invalid">Create an account</button>
    </form>
  </div>
</div>
