<div class="fullForm mt-3"zzzzz>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" (keydown.enter)="onSubmit()" class="needs-validation">
    <p class="form-title">Let's get started</p>
    
    <div class="form-group">
      <input id="Email" type="email" formControlName="email" class="form-control" placeholder="Email" />
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        <span class="text-danger" *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</span>
        <span class="text-danger" *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</span>
      </div>
    </div>

    <div class="form-group">
      <input type="password" formControlName="password" class="form-control" placeholder="Password" />
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <span class="text-danger" *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</span>
      </div>
    </div>

    <button type="submit" class="btn btn-primary mt-4 mb-4" [disabled]="loginForm.invalid">Submit</button>
  </form>
</div>
